// Variables

//Fonts
$latoReg: 'Lato-Regular';
$latoLight: 'Lato-Light';
$workSansSemi: 'WorkSans-SemiBold';
$workSansExtraLight: 'WorkSans-ExtraLight';
$workSansLight: 'WorkSans-Light';
$workSansReg: 'WorkSans-Regular';

//Colors
$grey-one: #92999a;
$blue: #4d9ad3;
$grey-two: #717b7f;
$grey-three: #8d9699;
